.loginContainer {
  h4 {
    margin: 1rem;
    position: relative;
  }
  p {
    color: red;
    font-size: 1rem;
    position: absolute;
    top: 14.25rem;
  }
  a {
    text-decoration: none;
    text-align: center;
  }

  a:visited {
    color: blue;
  }
}
