.navbarOuterContainer {
  align-items: center;
  position: fixed;
  background-color: black;
  box-shadow: 0rem 0.1rem 0.25rem 0rem rgb(100, 100, 100);
  color: white;
  display: flex;
  width: 100%;
  height: 7rem;
  a {
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
  .imageContainer {
    align-items: center;
    display: flex;
    height: 5.65rem;
  }
  img {
    height: 7rem;
    width: 8rem;
  }
}

.navbarInnerContainer {
  display: flex;
  flex-direction: column;
  height: 7rem;
  position: relative;
  width: 100%;
  list-style: none;
  .upperNav {
    align-items: center;
    background: rgb(183, 28, 28);
    background: linear-gradient(
      135deg,
      rgba(183, 28, 28, 1) 0%,
      rgba(183, 28, 28, 1) 20%,
      rgba(198, 40, 40, 1) 40%,
      rgba(198, 40, 40, 1) 60%,
      rgba(211, 47, 47, 1) 80%,
      rgba(211, 47, 47, 1) 100%
    );
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    height: 3rem;
    justify-content: flex-end;
    padding-right: 1rem;
    width: 100%;
    text-shadow: 1px 1px black;
    #accountMenu {
      a {
        text-decoration: none;
      }
    }
    .userName {
      color: rgb(0, 113, 62);
      margin: 0 0.15rem;
      font-weight: 600;
    }
  }
  .lowerNav {
    align-items: center;
    background-color: black;
    display: flex;
    font-family: 'Marcellus', serif;
    font-size: 1.5rem;
    justify-content: flex-end;
    width: 100%;
    height: 4rem;
    .menuLinks {
      display: flex;
      justify-content: space-evenly;
      height: 100%;
      width: 100%;
      a {
        align-items: center;
        display: flex;
        height: 100%;
        padding: 0 2rem;
      }
      a:hover {
        background-color: rgba(100, 100, 100, 0.2);
      }
    }
    .cart {
      margin-right: 1rem;
    }
  }
}
