.navbarOuterContainer {
  align-items: center;
  display: flex;
  width: 100%;

  img {
    height: 4.5rem;
    padding: 0.5rem;
  }
}

.navbarInnerContainer {
  display: flex;
  flex-direction: column;
  height: 5.75rem;
  width: 100%;
  list-style: none;
  a {
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
  .upperNav {
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    height: 100%;
    justify-content: space-between;
    width: 100%;

    span {
      margin: 0 0.1rem;
    }
  }
  .lowerNav {
    font-family: 'Marcellus', serif;
    align-items: center;
    font-size: 1.75rem;

    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 2.8rem;
    a {
      display: flex;
      align-items: center;
      height: 100%;
    }
    a:hover {
      background-color: rgba(100, 100, 100, 0.2);
    }
  }
}

.cart {
  button {
    height: 100%;
  }
}

#test {
  padding: 0;
  background: rgb(183, 28, 28);
  background: linear-gradient(
    135deg,
    rgba(183, 28, 28, 1) 0%,
    rgba(183, 28, 28, 1) 20%,
    rgba(198, 40, 40, 1) 40%,
    rgba(198, 40, 40, 1) 60%,
    rgba(211, 47, 47, 1) 80%,
    rgba(211, 47, 47, 1) 100%
  );
}
