.signupFormContainer {
  width: 40rem;
  margin-top: 5rem;
  h4 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .errorContainer {
    position: relative;
  }
  p {
    color: red;
    font-size: 1rem;
    left: 38.5%;
    margin: auto;
    position: absolute;
    top: -2rem;
  }
  .loginLink {
    display: flex;
    justify-content: center;
  }
  a {
    text-decoration: none;
  }

  a:visited {
    color: blue;
  }
}
